
/* new///////////////////////////////////////// */
.login-container {
  display: flex;
  width: 50rem;
  height: 32rem;
  margin-top: 1rem;
}
.login-image-container,
.login-data-container {
  width: 50%;
  padding: 2rem;
}
.login-image-container {
  background-color: var(--primaryColor);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login-data-container {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.login-image {
  width: 100%;
  /* object-fit: contain; */
}
.login-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
  padding: 0  ;
  font-size: 1rem;
}

.login-data-sub-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.each-data-cont {
  margin: 0.5rem 0;
}
.each-data-cont p {
  text-align: left;
  /* padding-left: 0.5rem; */
  color: var(--textColorLight);
  /* margin-bottom: -0.6rem; */
  font-size: 0.9rem;
}
.for-login-btn-cont{
    padding-top: 1rem;
}
.for-signup-btn-cont{
    padding: 0 1.5rem;
}

@media screen and (max-width: 500px) {
    .login-image-container{
        display: none;
    }
    .login-data-container{
        width: 100%;
    }
    
  }
  .lgpagelogo-cont{
    width: 10rem;
    margin: 0 auto;
  }
  .book-tagline{
    font-size: 1.2rem;
  }