.playlist-btn{
    font-size: 2.3rem !important;
    border: none !important;
    background-color: whitesmoke !important;
}
.playlist-btn:hover{
    font-size: 2.3rem !important;
    border: none !important;
    background-color: whitesmoke !important;
    color: black;
}