@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  object-fit: cover;
}
.App {
  text-align: center;
  /* background-color: var(--secondaryColor); */
}
/* outer box signup */

*, *::before, *::after {
  box-sizing: border-box !important;
}

/* PLaylist page */
.cta{
  border-radius: 10%;
  float: right;
  padding: 0.4rem 0.8rem;
}
.playlist-name{
  font-size: 1.5rem;
}
.page-title{
  border-bottom: 1px solid black;
  font-style: italic;
  text-align: left;
  margin-left: 5rem;
}


/* Modal */
.playlist-item{
  display: block;
}
.create-btn{
  padding: 0.5rem 1rem;
}

/* Video card page
.main-out{
    display: 'flex'; 
    flex-direction: 'column';
    justify-content: 'center';
} */

/* playlist page */
