/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  object-fit: cover;
} */
:root {
  --primaryColor: #e94f37;
  --primaryShadeLight: #ef7e6c;

  --secondaryColor: #5c415d;
  --secondaryShadeLight: #835c84;

  --textColor: rgb(34, 34, 34);
  --textColorLight: rgb(117, 117, 117);

  --bgColorLight: #f0f2f5;
  --bgColor: #f6f7eb;
}
body {
  background-color: var(--bgColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}
.outer-cont {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* height: 80vh; */
  width: 100%;
}
.loader-prod {
  height: 100vh;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Reggae One", cursive;
}
.page-title {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
.page-title h1 {
  padding: 0.5rem;
}

/* Utils */
.fx {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.full-img {
  max-width: 100%;
  max-height: 100%;
}
/* Design Sys */

.section-container {
  padding: 4rem 0;
}
.section-title-cont {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
  justify-content: center;
  /* background-color: red; */
}
.section-title-line {
  width: 90%;
  max-width: 90%;
  height: 4px;
  background-color: #b7b7b7;
  border: 0;
}
.section-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color: var(--section-title-cl);
  max-width: 55%;
  min-width: 20%;
  text-align: center;
  margin: 0 1.5rem;
}
.p-text {
  color: #596875;
  font-size: 1rem;
  line-height: 1.2rem;
}
.card-sub-title {
  color: #2f4152;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: auto;
  /* background-color: yellow; */
}
.card-holder-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* background-color: yellow; */
}
.card {
  width: 15rem;
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000040 0 8px 25px;
}
.only-card {
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #00000040 0 8px 25px;
}
.card-landscape {
  width: 30rem;
  margin: 0.6rem;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: #00000040 0 8px 25px;
}
.bg-gray-lite {
  background-color: #fafafa;
}
@media (max-width: 580px) {
  .card-landscape {
    width: 15rem;
    margin: 0.6rem;
  }
  .section-title-line {
    width: 6rem;
  }
}

.one-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.one-view-text-box {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgb(24, 23, 23);
  margin: 1rem;
}
.banner-over-text {
  font-size: 3rem;
}

/* //Utility */
.cl-white {
  color: white !important;
}
.bg-whsmoke {
  background-color: whitesmoke;
}
.bg-color-white {
  background-color: white;
}
.book-store {
  text-decoration: none !important;
  font-style: italic;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Syne Mono", monospace;
  color: var(--primaryColor);
}
.both-axis-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  min-height: 15rem;
}

.nblogo-cont {
  object-fit: cover;
  width: 10rem;
  margin-left: 2rem;
}
.nblogo-img {
  max-width: 100%;
}
.nblogo-cont-mob {
  object-fit: cover;
  width: 4rem;
  margin-left: 2rem;
  display: none;
}

@media screen and (max-width: 690px) {
  .nblogo-cont {
    object-fit: cover;
    width: 10rem;
    margin-left: 2rem;
    display: none;
  }
  .nblogo-img {
    max-width: 100%;
  }
  .nblogo-cont-mob {
    object-fit: cover;
    width: 3rem;
    margin-left: 0.6rem;
    display: inline-block;
  }
}
